<div id="disburser" class="disbursement">
  <form id="forecaster">
    <fieldset class="fold">
      <legend class="lofty">find weather</legend>
      <p class="paraphrase"> Choose any name from the list of more than 70 cities so you can obtain weather information for that location. </p>
      <label class="leftHinge" for="WhenTheLightsGoDownInThe"><span class="spumoni">city</span></label>
      <div id="developer">
        
        <select id="WhenTheLightsGoDownInThe" [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" (ngModelChange)="onWeatherChange(selectedValue)">
          <option [ngValue]="null">Choose a location</option>
          <option *ngFor="let location of locations" [ngValue]="location">
            {{ location.name }}
          </option>
        </select>

      </div>
    </fieldset>

    <fieldset class="fold">
      <legend class="lofty">find with global positioning</legend>
      <p class="paraphrase"> Obtain weather information by means of your latitude and longitude. </p>
      <label class="leftHinge" for="geolo"><span class="spumoni">Geolocation positioning</span></label>
      <div id="positioning">
        
        <button id="geolo" (click)="onWeatherClick($event)">Get Weather</button>

      </div>
    </fieldset>
    
  </form>
  <section id="sourceOut">

    <app-weather [formatted_currentdate]="formatted_currentdate" [formatted_sunrise]="formatted_sunrise" [formatted_sunset]="formatted_sunset" [formatted_dayofweek]="formatted_dayofweek" [selectedWeather]="selectedWeather"></app-weather>

  </section>
</div>