<p *ngIf="!selectedWeather" id="pFrag">
  <img id="initialIcon" class="strongImage" alt="" [src]="imageUrl" />
</p>

<div *ngIf="selectedWeather" id="divFrag">
  
  <div class="hgroup" id="home">
    <a class="strongAnchor dipOutElsewhere" title="Link to some place" href="" (click)="noOpLink($event)" target="_blank">
      <img id="strongImage" class="strongImage" alt="&nbsp;" [src]="imageUrl" />
    </a>
    <h2 id="hotelTwo"> {{ selectedWeather.city.name }} Weather Forecasts</h2>
    <h3 id="hotelThree">Nearest weather station: {{ selectedWeather.city.name }}, {{ selectedWeather.city.country }} &nbsp;</h3>
  </div>

  <div id="dayZero" *ngFor="let day of selectedCityList; let i = index">

    <h4 id="hotelFour" *ngIf="i === 0">Current Weather in {{ selectedWeather.city.name }}</h4>

    <figure id="digThisFig" class="checkIt allClear" *ngIf="i === 0">
      <img src="/assets/images/weathercodes/{{ day.weather[0].id }}.gif" alt="" class="dejaVu" />
      <figcaption class="esFatale allClear" >
        <span id="degreeCurrentTemp" > {{ day.main.temp | number:'.0-0' }}&deg; F </span>
        <span id="highTemp" >High: {{ day.main.temp_max | number:'.0-0' }}&deg; F </span>
        <span id="lowTemp" >Low: {{ day.main.temp_min | number:'.0-0' }}&deg; F </span>
        <span id="shortDescriptor" > {{ day.weather[0].main }} </span>
      </figcaption>
    </figure>
    <div id="subSection" *ngIf="i === 0">
      <em id="muchtoomuchInfo" >Forecasted weather for {{ day.dt_txt }}</em>
      <dl id="datum" >
        <dt id="dtOne" class="day">Wind:</dt>
        <dd id="ddOne" class="detail">Winds at <span class="spanInMiles"> {{ day.wind.speed | number:'.0-0' }} <abbr class="anotherClazz">mph </abbr></span>.</dd>
        <dt id="dtThree" class="day">Humidity: </dt>
        <dd id="ddThree" class="detail">{{ day.main.humidity }} &#37;</dd>
        <dt id="dtFour" class="day">Barometric Pressure: </dt>
        <dd id="ddFour" class="detail"> {{ day.main.pressure }} hPa</dd>
      </dl>
    </div>
  </div>

  <div id="DLuffy">
    <div class="fourByTwos" id="detailedLocalForecast">
      <ul id="updatedJive">
        <li class="liquidLows" *ngFor="let day of selectedCityList; let i = index">
          <strong class="specialty" *ngIf="i !== 0">{{ day.dt * 1000 | date:'EEEE' }}</strong>
          <span class="stressBold" *ngIf="i !== 0"> {{ day.weather[0].description }} </span>
          <img class="illustrative" *ngIf="i !== 0" src="/assets/images/weathercodes/{{ day.weather[0].id }}.gif" alt="" />
          <span class="skyrocket" *ngIf="i !== 0">High: {{ day.main.temp_max | number:'.0-0' }} &deg; F. </span>
          <span class="showLow" *ngIf="i !== 0">Low: {{ day.main.temp_min | number:'.0-0' }} &deg; F.</span>
        </li>
      </ul>
    </div>
  </div>

  <div id="details" class="details">
    <h5 id="hotelFive">Detailed Local Forecast for {{ selectedWeather.city.name }}</h5>
    <ul id="umbrella" *ngFor="let day of selectedCityList; let i = index">
      <li class="lightning">
        <strong class="specialty">{{ day.dt * 1000 | date:'EEEE' }}</strong>
        {{ day.weather[0].description }}. 
        High {{ day.main.temp_max | number:'.0-0' }} &deg; F.
        Low {{ day.main.temp_min | number:'.0-0' }} &deg; F.
        Winds up to {{ day.wind.speed | number:'.0-0' }} mph in some cases.
      </li>
    </ul>
  </div>

</div>

<!-- <p *ngIf="selectedWeather">{{ selectedWeather | json }}</p> -->