<footer id="farewell">
  <p id="profess">Concept, artwork, etc. <wbr class="warner">by  &lsquo;don Lucho&rsquo; <wbr class="warner">(yada, yada, yada) <wbr class="warner">&copy; <wbr class="warner"> {{myPresentYear}} </p>
</footer>