<p *ngIf="!selectedWeather" id="pFrag">
  <img id="initialIcon" class="strongImage" alt="" [src]="imageUrl" />
</p>

<div *ngIf="selectedWeather" id="divFrag">
  
  <div class="hgroup" id="home">
    <a class="strongAnchor dipOutElsewhere" title="Link to some place" href="" (click)="noOpLink($event)" target="_blank">
      <img id="strongImage" class="strongImage" alt="&nbsp;" [src]="imageUrl" />
    </a>
    <h2 id="hotelTwo"> {{ selectedWeather.name }} Weather Forecasts</h2>
    <h3 id="hotelThree">Nearest weather station: {{ selectedWeather.name }}, {{ selectedWeather.sys.country }} &nbsp;</h3>
  </div>

  <div id="dayZero">
    <h4 id="hotelFour">Current Weather in {{ selectedWeather.name }}</h4>
    <figure id="digThisFig" class="checkIt allClear">
      <img src="/assets/images/weathercodes/{{ selectedWeather.weather[0].id }}.gif" alt="" class="dejaVu"/>
      <figcaption class="esFatale allClear">
        <span id="degreeCurrentTemp"> {{ selectedWeather.main.temp }}&deg; F </span>
        <span id="highTemp">High: {{ selectedWeather.main.temp_max }}&deg; F </span>
        <span id="lowTemp">Low: {{ selectedWeather.main.temp_min }}&deg; F </span>
        <span id="shortDescriptor"> {{ selectedWeather.weather[0].main }} </span>
      </figcaption>
    </figure>
    <div id="subSection">
      <em id="muchtoomuchInfo">Current conditions as of {{ formatted_currentdate }}</em>
      <!-- <em id="muchtoomuchInfo">Current conditions as of {{ selectedWeather.dt | date:'full' }}</em> -->
      <dl id="datum">
        <dt id="dtOne" class="day">Wind:</dt>
        <dd id="ddOne" class="detail">Winds at <span class="spanInMiles"> {{ selectedWeather.wind.speed }} <abbr class="anotherClazz">mph </abbr></span>.</dd>
        <dt id="dtTwo" class="day">Visibility: </dt>
        <dd id="ddTwo" class="detail"> {{ selectedWeather.visibility }} meters </dd>
        <dt id="dtThree" class="day">Humidity: </dt>
        <dd id="ddThree" class="detail">{{ selectedWeather.main.humidity }} &#37;</dd>
        <dt id="dtFour" class="day">Barometric Pressure: </dt>
        <dd id="ddFour" class="detail"> {{ selectedWeather.main.pressure }} hPa</dd>
        <dt id="dtFive" class="day">Sunrise (local time):</dt>
        <dd id="ddFive" class="detail"><span class="spotCap"> {{ formatted_sunrise }} </span></dd>
        <dt id="dtSix" class="day">Sunset (local time):</dt>
        <dd id="ddSix" class="detail"><span class="spotCap"> {{ formatted_sunset }} </span></dd>
      </dl>
    </div>
  </div>

  <div id="DLuffy">
    <div class="fourByTwos" id="detailedLocalForecast">
      <ul id="updatedJive">
      </ul>
    </div>
  </div>

  <div id="details" class="details">
    <h5 id="hotelFive">Detailed Local Forecast for {{ selectedWeather.name }}</h5>
    <ul id="umbrella">
      <li class="lightning">
        <strong class="specialty">{{ formatted_dayofweek }}.</strong> 
        {{ selectedWeather.weather[0].description }}. 
        High {{ selectedWeather.main.temp_max }} &deg; F.
        Low {{ selectedWeather.main.temp_min }} &deg; F.
        Winds up to {{ selectedWeather.wind.speed }} mph in some cases.
      </li>
    </ul>
  </div>

</div>