/*  --------- DEFAULT: 1051px (...AND UP) to 1449px and 1601px PLUS --- Normal coding BEGINS */

p#pFrag, div#divFrag { margin: 0% 9.5238095% 0% 16.1904761%; width: 74.2857144%; }

/* section#sourceOut img#initialIcon { max-width: 50%; max-height: 50%; text-align: center; padding-left: 45%; } */ 

img#initialIcon { display: block; margin: 0 auto 0 auto; }

div.hgroup#home { padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; width: 80.952381%; margin: 0 5.7142857% 0 13.33%; }
div.hgroup#home:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

a.strongAnchor { float: left; padding: 0 2% 0 2%; 
  // width: 29.0588235%; max-width: 29.0588235%; 
  max-width: 26.0588235%; 
}
img#strongImage { max-width: 100%; max-height: 100%; }
img#strongImage { padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; display: inline; }

h2#hotelTwo { margin-top: 0.0625%; margin-right: 0; margin-bottom: -1.125%; margin-left: 0; font-size: 95%; max-width: 69.8786765%; }
h3#hotelThree { margin-top: 1.125%; margin-right: 0; margin-bottom: 0; margin-left: 0; font-size: 82%; max-width: 69.8786765%; }

div#dayZero { padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; width: 74.2857144%; max-width: 74.2857144%; margin: 0 9.5238095% 0 16.1904761%; }
h4#hotelFour { padding-left: 2.5%; padding-bottom: 0.95%; color: rgb(17, 33, 55); }

figure#digThisFig { width: 100%; max-width: 100%; margin: 0; position: relative; }
figure#digThisFig:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

img.dejaVu { max-width: 100%; max-height: 100%; }

figcaption.esFatale { width: 33.5897436%; max-width: 33.5897436%; position: absolute; left: 32%; top: 22%; }
figcaption.esFatale:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
figcaption.esFatale span#degreeCurrentTemp { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 237.5%; line-height: 1.29375; color: rgb(17, 33, 55); text-shadow: 2px 3px 3px #112137; -moz-text-shadow: 2px 3px 3px rgba(17, 33, 55, 0.8); -webkit-text-shadow: 2px 3px 3px rgba(17, 33, 55, 0.8); display: block; margin: 0 0 0 5%; }
figcaption.esFatale span#highTemp { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; color: rgb(17, 33, 55); text-shadow: 2px 3px 3px #112137; -moz-text-shadow: 2px 3px 3px rgba(17, 33, 55, 0.8); -webkit-text-shadow: 2px 3px 3px rgba(17, 33, 55, 0.8); display: block; margin: 0 0 0 5%; }
figcaption.esFatale span#lowTemp { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; color: rgb(17, 33, 55); text-shadow: 2px 3px 3px #112137; -moz-text-shadow: 2px 3px 3px rgba(17, 33, 55, 0.8); -webkit-text-shadow: 2px 3px 3px rgba(17, 33, 55, 0.8); display: block; margin: 0 0 0 5%; }
figcaption.esFatale span#shortDescriptor { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; color: rgb(17, 33, 55); font-size: 136.8421052%; line-height: 1.045429362; text-shadow: 2px 3px 3px #112137; -moz-text-shadow: 2px 3px 3px rgba(17, 33, 55, 0.8); -webkit-text-shadow: 2px 3px 3px rgba(17, 33, 55, 0.8); display: block; margin: 0 0 0 5%; }


div#subSection { width: 100%; max-width: 100%; margin: 0; position: relative; }

em#muchtoomuchInfo { font: 80%/1.15 "Bitstream Vera Sans Mono", Monaco, Courier, monospace; color: rgb(17, 33, 55); padding: 1.25% 0 7.5% 0; float: right; }
em#muchtoomuchInfo:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

dl#datum { width: 27.1176%; max-width: 27.1176%; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; color: rgb(17, 33, 55); font-size: 71%; padding: 3% 0 3% 0; position: absolute; bottom: 8.0625em; left: 67%; }
dt.day { max-width: 100%; display: inline; text-align: left; padding-right: 0; padding-left: 0; font-weight: bold; }
dd.detail { max-width: 100%; display: inline; text-align: left; padding-right: 0; padding-left: 0; }
dd.detail:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }


div#DLuffy { padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; width: 74.2857144%; max-width: 74.2857144%; margin: 0 9.5238095% 0 16.1904761%; }
div#detailedLocalForecast { max-width: 100%; width: 100%; background-color: rgb(255,255,255); margin-top: 11.5%; }
ul#updatedJive { margin: 0; padding: 0; max-width: 100%; width: 100%; }
ul#updatedJive:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }



div#details { padding-top: 2.8675%; padding-right: 0; padding-bottom: 0.75em; padding-left: 0; width: 77.1428572%; max-width: 77.1428572%; margin: 0 9.5238095% 0 13.33333%; }
div.details h5#hotelFive { color: rgb(17, 33, 55); font-size: 91%; padding: 0 0 0.48125% 0; }
div#details ul#umbrella { width: 100%; font-weight: normal; color: rgb(17,33,55); }
div#details li.lightning { font-size: 78%; line-height: 1.0125; letter-spacing: 5%; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; width: 95%; max-width: 95%; display: block; padding: 1.125% 0 0.2916666% 5%; }
div#details li.lightning strong.specialty { font-weight: bold; }

/*  --------- DEFAULT: 1051px (...AND UP) to 1449px and 1601px PLUS ------- Normal coding ENDS here  */

/* ------------------ Responsive Design Media Queries START here  --------------    */

// ----- 768px to 1050px----- 
@media (max-width: 1050px) {
  figcaption.esFatale { width: 24.5897436%; max-width: 24.5897436%; position: absolute; left: 43%; top: 22%; }
  figcaption.esFatale span#shortDescriptor { font-size: 106.736842%; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; color: rgb(17, 33, 55); line-height: 1.245429362; text-shadow: 2px 3px 3px #112137; -moz-text-shadow: 2px 3px 3px rgba(17, 33, 55, 0.8); -webkit-text-shadow: 2px 3px 3px rgba(17, 33, 55, 0.8); display: block; margin: 0 0 0 5%; }
}

// ----- 356px to 767px----- 
@media (max-width: 767px) {
  img#initialIcon { max-width: 90%; max-height: 90%; text-align: center; }

  div.hgroup#home { padding-top: 3.95%; padding-right: 3%; padding-bottom: 2.25%; padding-left: 5.33%; width: 91.66666%; max-width: 91.66666%; margin: 0; }
  div.hgroup#home:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

  a.strongAnchor { float: left; padding: 0 2% 0 2%; 
    // width: 29.0588235%; max-width: 29.0588235%; 
    max-width: none; 
  }
  img#strongImage { max-width: 59.535%; max-height: 57.21975%; }
  img#strongImage { text-align: left; padding: 0; display: block; }

  h2#hotelTwo { margin: 0 0 0 1.0625%; font-size: 92%; width: 65.8787%; max-width: 65.8787%; float: right; }
  h3#hotelThree { margin: 0 0 0 1.0625%; font-size: 79%; width: 65.8787%; max-width: 65.8787%; float: right; }

  div#dayZero { padding-top: 3.95%; padding-right: 3%; padding-bottom: 2.25%; padding-left: 3%; width: 94%; max-width: 94%; margin: 0; }
  h4#hotelFour { margin: -3.1875% 0 0 0; font-size: 79%; padding-bottom: 2.515625%; padding-left: 0; }

  img.dejaVu { max-width: 15.625%; max-height: 15.625%; }
  img.dejaVu { background-color: rgba(83,148,228,.37); padding: 7% 7% 7% 7%; display: block; float: left; }

  figcaption.esFatale { color: #666633; left: 29.75%; top: 10%; } 
  figcaption.esFatale span#degreeCurrentTemp { font-size: 120%; line-height: 1.15; }
  figcaption.esFatale span#shortDescriptor { font-size: 105%; line-height: .979607142; }
  figcaption.esFatale span#highTemp { font-size: 88%; line-height: .89; }
  figcaption.esFatale span#lowTemp { font-size: 88%; line-height: .89; }

  div#subSection { margin: 0; padding-top: 18.4479163%; padding-bottom: 0; }
  em#muchtoomuchInfo { font: 80%/1.15 "Bitstream Vera Sans Mono", Monaco, Courier, monospace; color: rgb(17, 33, 55); padding: 2.25% 0 4.5% 0; }

  dl#datum { width: 45%; max-width: 45%; font-size: 71%; padding: 3% 0 3% 0; position: absolute; bottom: 18.125%; right: 33%; }

  div#DLuffy { padding-top: 11.85%; padding-right: 3%; padding-bottom: 2.25%; padding-left: 3%; margin: 0; width: 94%; max-width: 94%; }
  div#detailedLocalForecast { max-width: 100%; width: 100%; margin-top: 5%; }

  div#details { padding-top: 3.95%; padding-right: 3%; padding-bottom: 2.25%; padding-left: 3%; margin: 0; width: 94%; max-width: 94%; }
  div.details h5#hotelFive { color: rgb(17, 33, 55); font-size: 83%; padding: 0 0 0.48125% 0; }
  div#details li.lightning { padding: 1.125% 0 0.875% 5%; }

} 

// ----- 240px to 355px----- 
@media (max-width: 355px) {
  img#initialIcon {  max-width: 95%; max-height: 95%; text-align: center; }

  div.hgroup#home { padding-top: 1.5em; padding-right: 3%; padding-bottom: .75em; padding-left: 3%; width: 94%; max-width: 94%; }
  
  a.strongAnchor { float: none; 
    max-width: 100%; 
    // max-height: 100%; 
    // width: 100%; height: 100%; 
  }
  img#strongImage { max-width: 66.67%; max-height: 60.55%; }
  img#strongImage { text-align: center; display: block; }

  h2#hotelTwo { float: none; text-align: left; font-size: 78%; }
  h3#hotelThree { float: none; text-align: left; font-size: 66.07058%; }

  div#dayZero { padding-top: 0.375em; padding-bottom: 0.125em; }
  h4#hotelFour { text-align: left; font-size: 66.07058%; padding-bottom: 10.0625%; color: rgb(17, 33, 55); }

  figure#digThisFig { margin: 0 auto; }

  img.dejaVu { float: none; padding: 0 28.125% 0 28.125%; }
  img.dejaVu { max-width: 43.75%; max-height: 43.75%; }

  figcaption.esFatale { position: static; top: 0; left: 0; width: 100%; max-width: 100%; }
  figcaption.esFatale span#degreeCurrentTemp { font-size: 154%; line-height: 1.29375; }
  figcaption.esFatale span#highTemp { font-size: 100%; line-height: 1.375; }
  figcaption.esFatale span#lowTemp { font-size: 100%; line-height: 1.375; }
  figcaption.esFatale span#shortDescriptor { font-size: 105.36842%; line-height: .885197368; }

  div#subSection { position: static; padding-top: 0; padding-bottom: 2.515625%; }
  em#muchtoomuchInfo { float: none; padding: 1.25% 0 7.5% 0; }

  dl#datum { position: static; bottom: 0; left: 0; width: 100%; max-width: 100%; color: rgb(17, 33, 55); font-size: 71%; padding: 3% 0 3% 0; }

  dt.day { max-width: 96%; display: block; padding-right: 1%; padding-left: 3%; }
  dd.detail { max-width: 92%; display: block; padding-right: 3%; padding-left: 5%; }

  div#DLuffy { padding-top: .25em; padding-bottom: .75em; }
  div#detailedLocalForecast { background-color: transparent; }
  ul#updatedJive { margin: 0; padding: 0; max-width: 100%; width: 100%; }

  div#details { padding-top: .25em; padding-bottom: .75em; }
  div.details h5#hotelFive { font-size: 83%; padding: 0 0 0.28125em 0; }
  div#details li.lightning { font-size: 78%; line-height: 1.0125; letter-spacing: 5%; width: 100%; padding: 1.125% 0 0.875% 0; }

} 


/* ------------------ Responsive Design Media Queries END here  --------------    */