/*  --------- DEFAULT: 1051px (...AND UP) to 1449px and 1601px PLUS --- Normal coding BEGINS */
img { max-width: 100%; max-height: 100%; }
article { background: transparent; width: 100%; height: 100%; padding: 0 auto; }

/*  --------- 1051px (...AND UP) to 1449px and 1601px PLUS ------- Normal coding ENDS here  */