<nav id="nillyWilly">
  <h1 id="hotelOne">
     <strong id="Sakerutsu">
       <span id="Santoryu" class="Semantic">NG5 OpenWeatherMap App</span> 
     </strong>
  </h1>
  <ul>
    <li><a routerLink="/weather">Weather</a></li>
    <li><a routerLink="/forecast">Forecast</a></li>
  </ul>
</nav>